<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create a new list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create a new list</ion-title>
    </ion-toolbar>
  </ion-header>


  <label>
    Name:
    <input type="text" [formControl]="name">
  </label>



  <ion-footer id="footer">
    <button (click)="create()">Create</button>
  </ion-footer>
</ion-content>
