<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-list>
      <ion-item *ngFor="let list of this.listService.getAll() ;">
        <ion-label routerLink="/liste-detail"+"er">{{list.getName()}}</ion-label>
      </ion-item>
    </ion-list>

  <ion-footer id="footer">
    <p routerLink="createTodo">Add a new list</p>
  </ion-footer>
</ion-content>
